@page
@using Lernify.Web.Infrastructure.Util
@using TicketModule.Domain
@model Lernify.Web.Pages.Profile.Ticket.IndexModel
@{
    var count = 1;
    Layout = "Shared/_ProfileLayout";
    ViewData["Title"] = "تیکت ها";
}
<div class="row ">
    <div class="col-12 info shadow pl-0 pr-0">
        <p class="title">
            <i class="fa fa-paper-plane"></i>
            تیکت ها
        </p>

        <br>
        <a asp-page="Add" class="btn btn-save mr-2 mb-4 float-right">ثبت تیکت جدید</a>
        <div class="info-body p-2">
            <div class="table-responsive">
                <h5>
                    <i class="fa fa-list"></i>
                    لیست تیکت ها
                </h5>
                <table class="table   table-hover  table-striped text-center">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>عنوان</th>
                            <td>وضعیت</td>
                            <th>تاریخ ثبت</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.FilterResult.Datas.Count > 0)
                        {
                            @foreach (var item in Model.FilterResult.Datas)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Title</td>

                                    <td>
                                        @switch (item.TicketStatus)
                                        {
                                            case TicketStatus.Pending:
                                                <span style="font-size:13px;" class="badge badge-info">درحال برسی</span>
                                                break;

                                            case TicketStatus.Answered:
                                                <span style="font-size:13px;" class="badge badge-success">پاسخ داده شده</span>
                                                break;

                                            case TicketStatus.Closed:
                                                <span style="font-size:13px;" class="badge badge-danger">بشته شده</span>
                                                break;

                                            default:
                                                break;
                                        }
                                    </td>
                                    <td>
                                        @item.CreationDate.ToPersianDate()
                                    </td>
                                    <td>
                                        <a asp-page="Show" asp-route-Id="@item.Id" class="btn btn-sm btn-primary">نمایش</a>
                                    </td>
                                </tr>
                                count++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5">موردی برای نمایش یافت نشد</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <hr class="mt-0">
            <partial name="Shared/_Pagination" model="Model.FilterResult" />
        </div>
    </div>
</div>
